@import "phosphor-regular.css";
@import "phosphor-fill.css";

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Italic.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Arabic';
    src: url('../../fonts/NotoSansArabic.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}