/*!
 *  zaq1
 */

@import "components/_colors";
@import "components/_fonts";

@import "components/_core";
@import "components/_flaticon";
@import "components/_custom";
@import "components/_login";
@import "components/_header";
@import "components/_panel";
@import "components/_buttons";
@import "components/_modal";
@import "components/_progress-bar";
@import "components/_field";
@import "components/_dashboard";
@import "components/_note-editor";
@import "components/_minimized";
