RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} /client/
RewriteRule ^ /client/ [R=404]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} /public/
RewriteRule ^ /public/ [R=404]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} /apidocs/
RewriteRule ^ apidocs/index.html [QSA,L]

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?atroq=$1 [L,QSA]

<FilesMatch "((.*)\.sql|composer\.json)$">
  Deny from all
</FilesMatch>

<Files *.php>
	Deny from all
</Files>

<Files index.php>
	Allow from all
</Files>

<Files composer.log>
	Allow from all
</Files>

<IfModule pagespeed_module>
    ModPagespeed off
</IfModule>

#<IfModule mod_headers.c>
#    Header set Access-Control-Allow-Origin "*"
#</IfModule>
