RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} /client/
RewriteRule ^ /client/ [R=404]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} /apidocs/
RewriteRule ^ apidocs/index.html [QSA,L]

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?treoq=$1 [L,QSA]

<FilesMatch "(publicData\.json|treo-composer\.log)$">
  Allow from all
</FilesMatch>

<FilesMatch "(composer\.json)$">
  Deny from all
</FilesMatch>

<IfModule pagespeed_module>
    ModPagespeed off
</IfModule>

#<IfModule mod_headers.c>
#    Header set Access-Control-Allow-Origin "*"
#</IfModule>
