/*!
 *  zaq1
 */

$main-black: #111111;
$main-border: #EEEEEE;

$bg-black: #000;
$bg-nav: #ffffff;
$bg-header: #f5f5f5;
$bg-white: #FFFFFF;
$bg-nav-link: #F5F5F5;
$bg-nav-mobile-link: #e5e5e5;
$bg-header-mobile: #f5f5f5;

$text-black: $main-black;
$text-top-navigation: #737373;
$text-nav: $main-black;
$text-heading: #101010;
$text-blue: #0081d1;
$text-heading-label: #777777;
$text-white: #fff;
$text-btn-black: #333;

$border-header: #e0e0e0;
$border-nav: $main-border;
$border-mobile: #d5d5d5;
$border-top-navigation: #e0e0e0;
$border-btn-gray: $main-border;
$border-table: #e8eced;
$border-panel: #e8eced;

$border-panel: $main-border;
$border-btn: $main-border;
$border-btn-default: #e0e0e0;
$border-btn-blue-dark: #005cb3;


$btn-blue: #0081d1;
$btn-blue-dark: #005cb3;
$btn-bg-blue: #E6F1FF;
$btn-bg-default: $border-btn-default;


$btn-success: #2AC15A;
$bth-remove: #EEEEEE;

/*Login form*/
$login-text: #424242;
$login-bg-header: #424242;
$login-border: #424242;
$login-border-light: #eaeaea;
$login-border-main: #c0c0c0;

