<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            {{ method }} <a data-toggle="collapse" data-parent="#accordion{{ elt_id }}" href="#collapseOne{{ elt_id }}"> {{ route }}</a>
        </h4>
    </div>
    <div id="collapseOne{{ elt_id }}" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-tabs" id="php-apidoctab{{ elt_id }}">
                <li class="active"><a href="#info{{ elt_id }}" data-toggle="tab">Request</a></li>
                <li><a href="#sample{{ elt_id }}" data-toggle="tab">Response</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="info{{ elt_id }}">
                    <div class="well">
                        {{ description }}
                    </div>
                    {{ headers }}
                    {{ parameters }}
                    {{ body }}
                </div>
                <div class="tab-pane" id="sample{{ elt_id }}">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Status Codes</strong>
                            {{ sample_response_codes }}
                            <hr/>
                            <strong>Body</strong>
                            {{ sample_response_body }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>