<!--
  ~  zaq1
  -->

<div class="panel panel-default">
    <div class="panel-heading"><strong>Parameters</strong></div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Required</th>
                </tr>
            </thead>
            <tbody>
                {{ tbody }}
            </tbody>
        </table>
    </div>
</div>
